<div class="row">
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>System Alert</h3>
        <span>20 Alerts</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fa fa-warning fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-9">
    <card cardTitle="Device Information" isCollapse="true">
    </card>
  </div> 
  <div class="col-md-12">
    <card cardTitle='Timeline of Events' isCollapse="true">
      <div echarts [options]="AnimationBarOption" [loading]="showloading" theme="light"></div>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle="Placeholder" isCollapse="true">
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle="Placeholder" isCollapse="true">
    </card>
  </div>
  <div class="col-md-12">
    <card cardTitle="Placeholder" isCollapse="true">
      
    </card>
  </div>
</div>
