<div class="row">  
  <div class="col-md-12">
    <card cardTitle="Filtered Log Files">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Message ID</th>
            <th>Date</th>
            <th>Device ID</th>
            <th>Message</th>
            <th>File ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of default_data;let index = index">
            <td>{{index}}</td>
            <td>{{item.date}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.user_name}}</td>
          </tr>
          <tr *ngFor="let item of default_data;let index = index">
            <td>{{index}}</td>
            <td>{{item.date}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.user_name}}</td>
          </tr>
          <tr *ngFor="let item of default_data;let index = index">
            <td>{{index}}</td>
            <td>{{item.date}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.user_name}}</td>
          </tr>
          <tr *ngFor="let item of default_data;let index = index">
            <td>{{index}}</td>
            <td>{{item.date}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.user_name}}</td>
          </tr>
        </tbody>
      </table>
    </card>
  </div>
</div>
